<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td>
          <% movie.tags.each do |tag| %>
            <span class="badge badge-pill badge-primary">
              <%= tag.name %>
              <a href="<%= remove_tag_movie_path(movie, tag) %>" data-method="delete" class="badge badge-light">X</a>
            </span>
          <% end %>

          <%= form_tag(add_tag_movie_path(movie)) do %>
            <%= text_field_tag 'name' %>
          <% end %>
        </td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
